:root {
    --light-color: #3d1158;
    --dark-color: #0d021f;
}

body {
    width: 100vw;
    height: 100hv;
    background-color: var(--dark-color);
    overflow-x: hidden;
    margin: 0;
}

#nav-bar {
    width: 100%;
    height: 75px;
    background-color: var(--light-color);
    color:white;
    border-bottom: 1px solid black;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    margin: 10px;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif
}

.nav-link {

}

#content-container {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    width: 80vw;
    min-height: 20vh;
    color: white;
}

#params {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.param-form {
    width: 100%;
    margin: 0;

    display: flex;

    flex-direction: column;   
}

.param-form > label {
    margin: 3px;
    font-size: 1.3rem;
}

.param-form-input {

    display: flex;
    gap: 20px;
}


.user-input {
    margin: 3%;
}

.user-prompts {
    display: flex;
}

.user-prompt {
    background-color: var(--light-color);
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.param-input {
    font-size: 1.4rem;
    width: 30vw
}

.prompt-button {
    background-color: var(--light-color);
    color: white;

    border: none;
    border-radius: 4px;
    font-size: 1rem;

    padding: 10px 25px;
}


.card-container {
    position: absolute;
    width: 80%;

    margin-top: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 80vh;
    max-width: 500px;

    background-size: cover;

    color: white;

    display: flex;
    justify-content: end;
    flex-direction: column;

    border-radius: 10px;

    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

.card-content {
    box-sizing: border-box;

    background-image: linear-gradient(transparent, #000000 75%);
    width: 100%;
    padding: 10px;
    padding-top: 100px;
    border-radius: 10px;
}

.d-none {
    display: none;
}

.disappearing {
    animation: swipe-right .7s forwards;
    pointer-events: none;
}

.results-accepted {
    width: 100%;

    flex-direction: column;

    display: flex;
    justify-content: center;
    align-items: center;
}

.accepted {
    /* font-size: 2rem; */
    width: 60%;
    background-color: var(--light-color);
    color: white;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 20px;
}

.accepted-content {
    display: flex;
}

.accepted-text {
    padding: 15px;
    font-size: 1.2rem;
}

.accepted-price {
    margin: 20px;
    font-size: 2rem;
}

.accepted-link {
    margin: 20px;
}

.accepted-link:link {
    color: white;
}

.accepted-link:visited {
    color: white;
}.accepted-link:hover {
    color: white;
}.accepted-link:active {
    color: white;
}

#loading-icon {
    margin-top: 30vh;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    background-color: var(--light-color);
    animation: spin 2s infinite;
}


  

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
    
}

@keyframes swipe-right {

    0% {
        opacity: 1;
        margin-top: 0px;
    }


    100% {
        opacity: 0;
        margin-top: 50px;
    }
    
}
