@import "tailwindcss";

:root {
    --light-color: rgb(12, 21, 66);
    --light-color-transparent: rgba(12, 21, 66, 0.5);
    --dark-color: #000008;
    --lighter-color: #16207b;
}

@theme {
    --color-light-color: var(--light-color);
    --color-light-color-transparent: var(--light-color-transparent);
    --color-dark-color: var(--dark-color);
    --color-text-color: #ffffff;
    --color-lighter-color: var(--lighter-color)
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
    margin: 0;
}

#nav-bar {
    width: 100%;
    height: 10vh;
    background-color: var(--light-color);
    color:white;
    border-bottom: 1px solid black;
    

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

#nav-logo {
    margin: 10px;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif
}

#nav-links {
    margin: 5%;
    width: 20%;
}

.nav-link {
    margin: 20%;
    font-size: 1.3rem;
}

.nav-link:link {
    color: white;
  }
  
  /* visited link */
  .nav-link:visited {
    color: white;
  }
  
  /* mouse over link */
  .nav-link:hover {
    color: white;
  }
  
  /* selected link */
  .nav-link:active {
    color: white;
  }

#content-container {
    width: 100vw;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

#content {
    width: 80vw;
    color: white;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;

    
    z-index: -1;
}



.star-sm {
    background-color: white;
    width: 1px;
    height: 1px;
    position: absolute;
}

.star-md {
    background-color: white;
    width: 5px;
    height: 5px;

    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    position: absolute;
}

.star-lg {
    background-color: white;
    width: 10px;
    height: 10px;

    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    position: absolute;

    animation: star-rotate 3s ease-in-out infinite;
}

.falling-star {
    animation: fade-out .7s forwards;
}

.param-slides-container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.params {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.param-form {
    width: 100%;
    margin: 0;

    display: flex;

    flex-direction: column;   
    align-items: center;
}

.param-text {
    margin-bottom: 40px;
    font-size: 1.3rem;
}

.param-form-input {

    display: flex;
    gap: 20px;
}


.user-input {
    margin: 3%;
}

.user-prompts {
    width: 100%;
    display: flex;
}

.user-prompt {
    background-color: var(--light-color);
    margin: 0 5px 10px 0;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 1.15rem;
    color: white;
}

.param-input {
    font-size: 1.4rem;
    width: 30vw;
    background-color: #02010f;
    border: 1px ridge var(--light-color);
    color: white;
    border-radius: 3px;
    padding: 8px;
}

.param-input:focus {
    outline: 3px ridge #251775;
}

.prompt-button {
    color: white;

    white-space: nowrap;  
    /* overflow: hidden;      */
    /* text-overflow: ellipsis; */

    cursor: pointer;
}

.card-container {
    position: absolute;
    width: 80%;

    margin-top: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 80vh;
    width: 500px;

    background-size: cover;

    color: white;

    border: 2px ridge var(--light-color);

    display: flex;
    justify-content: end;
    flex-direction: column;

    border-radius: 10px;


    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

.card-content {
    box-sizing: border-box;

    background-image: linear-gradient(transparent, #000000 75%);
    width: 100%;
    padding: 10px;
    padding-top: 100px;
    border-radius: 10px;
}

.rating-container {
    display: flex;
    align-items: center;
}

.five-star-container {
    width: 100px;
    position: relative;
    display: flex;
    background-color: var(--light-color);

    border: 5px solid var(--light-color);
    border-radius: 5px;
    
    justify-content: end;

    margin-right: 10px;
}

.five-star {
    width: 100%;
    position: absolute;
}

.five-star-blocker {
    background-color: var(--light-color);
    height: 20px;
    z-index: 1;
}

.d-none {
    display: none;
}

.disappearing {
    animation: swipe-right .7s forwards;
    pointer-events: none;
}

.results-accepted {
    width: 100%;
    height: 80vh;
    margin-top: 5vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accepted {
    min-width: 60%;
    max-width: 80%;
    color: white;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin: 20px;

    animation: fade-down .5s forwards;

    opacity: 0;
}

.accepted-content {
    display: flex;
}

.accepted-text {
    padding: 15px;
    font-size: 1.2rem;
}

.accepted-price {
    margin: 20px;
    font-size: 2rem;
}

.accepted-link {
    margin: 20px;
}

.accepted-link:link {
    color: white;
}

.accepted-link:visited {
    color: white;
}.accepted-link:hover {
    color: white;
}.accepted-link:active {
    color: white;
}

#loading-icon {
    margin-top: 30vh;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;

    background-color: white;

    clip-path: polygon(50% 0%, 60% 40%, 100% 50%, 60% 60%, 50% 100%, 40% 60%, 0% 50%, 40% 40%);
    position: absolute;

    animation: spin 3s ease-in-out infinite;
}

#user-books-container {
    width: 60vw;
    height: 50vh;
    overflow-y: scroll;
}

.float-in {
    animation: float-in 3s;
    margin-bottom: 30px;
}

.fade-in {
    animation: fade-in 2s;
}

@keyframes star-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(60deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes float-in {
    0% {
        transform: translate(0px, 40px);
        opacity: 0;
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
    
}

@keyframes swipe-right {

    0% {
        opacity: 1;
        margin-top: 0px;
    }


    100% {
        opacity: 0;
        margin-top: 50px;
    }
    
}
